        <nav class="navbar navbar-default navbar-fixed-top fadeInDown" data-wow-delay="0.2s">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand smoothie" href="index.html"><span class="theme-accent-color">Price Tag#</span></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="main-navigation">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="index" class="page-scroll"><i class="fa fa-qrcode"></i> Key</a></li>  
                        <li><a href="receipts" class="page-scroll"><i class="fa fa-krw"></i> Receipts</a></li>    
                        <li><a href="products" class="page-scroll"><i class="fa fa-tags"></i> Products</a></li>      
                        <li><a href="storemap" class="page-scroll"><i class="fa fa-map-marker"></i> store</a></li>                 
                    </ul>

                </div>
                <!-- /.navbar-collapse -->         

            </div>
            <!-- /.container-fluid -->
        </nav>